In [5]:
# Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
#Remove the hash (#) to install the package if not already installed
#!pip install ruptures 
import ruptures as rpt
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import LinearRegression
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Connect to the PostgreSQL database
# Define connection parameters for easy sharing and modification
user = 'admin_karen'
password = 'Tiendala60'
host = 'karenserver.postgres.database.azure.com'
port = '5432'
database = 'transit_streaming'

connection_string = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

In [3]:
query = """
SELECT *
FROM public.routes
"""
df1 = pd.read_sql(query, engine)
df1.head()

,route_id,route_name,agency_id,route_type,total_vehicles,last_update
0,PH,None,SF,None,2,2025-11-11 06:43:54.766409
1,PM,None,SF,None,1,2025-11-11 06:43:54.766409
2,K,None,SF,None,5,2025-11-11 06:43:54.766409
3,T,None,SF,None,9,2025-11-11 06:43:54.766409
4,L,None,SF,None,5,2025-11-11 06:43:54.766409

In [4]:
query = """
SELECT *
FROM public.vehicle_positions
"""
df = pd.read_sql(query, engine)
df.sort_values('timestamp', ascending=False).head()

,id,vehicle_id,route_id,trip_id,agency_id,latitude,longitude,speed,heading,timestamp,created_at
19504,19505,169,Local Weekday,169,CT,37.330101,-121.902992,1.15,NaN,2025-11-12 00:24:28.761929,2025-11-12 05:24:31.016674
19503,19504,168,Local Weekday,168,CT,37.775902,-122.395592,1.09,NaN,2025-11-12 00:24:28.761928,2025-11-12 05:24:31.016674
19502,19503,167,Local Weekday,167,CT,37.329800,-121.903191,1.41,NaN,2025-11-12 00:24:28.761927,2025-11-12 05:24:31.016674
19501,19502,166,Local Weekday,166,CT,37.775902,-122.395691,1.63,NaN,2025-11-12 00:24:28.761926,2025-11-12 05:24:31.016674
19500,19501,165,Local Weekday,165,CT,37.436901,-122.153900,1.08,NaN,2025-11-12 00:24:28.761924,2025-11-12 05:24:31.016674

In [ ]:
#análisis kde para identificación de hotspots de cantidad que es en general, pero de tráfico relacionado con velocidad
#cuales son las rutas más activas, y las rutas con mayor tráfico
#tráfico por ruta, ver cual ruta van mas lento