In [10]:
# Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
#Remove the hash (#) to install the package if not already installed
#!pip install ruptures 
import ruptures as rpt
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import LinearRegression
import numpy as np
from sqlalchemy import create_engine

In [3]:
# Connect to the PostgreSQL database
# Define connection parameters for easy sharing and modification
user = 'admin_karen'
password = 'Tiendala60'
host = 'karenserver.postgres.database.azure.com'
port = '5432'
database = 'transit_streaming'

connection_string = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

In [18]:
# Query: Monthly Retail Sales
query = """
SELECT *
FROM public.routes
"""
df = pd.read_sql(query, engine)
df.head()

,route_id,route_name,agency_id,route_type,total_vehicles,last_update
0,8AX,None,SF,None,3,2025-11-11 03:13:23.225960
1,PH,None,SF,None,3,2025-11-11 03:39:41.920071
2,39,None,SF,None,2,2025-11-11 03:13:23.225960
3,28R,None,SF,None,4,2025-11-11 03:13:23.225960
4,PM,None,SF,None,1,2025-11-11 03:39:41.920071

In [19]:
# Query: Monthly Retail Sales
query = """
SELECT *
FROM public.vehicle_positions
"""
df = pd.read_sql(query, engine)
df.head()

,id,vehicle_id,route_id,trip_id,agency_id,latitude,longitude,speed,heading,timestamp,created_at
0,1,1,None,None,SF,37.799538,-122.419189,None,345.0,2025-11-10 22:13:06.271544,2025-11-11 03:13:15.025086
1,2,10,None,None,SF,37.794888,-122.411957,None,330.0,2025-11-10 22:13:06.271556,2025-11-11 03:13:15.025086
2,3,1006,F,11940703_M11,SF,37.792038,-122.397652,None,45.0,2025-11-10 22:13:06.271560,2025-11-11 03:13:15.025086
3,4,1015,F,11940608_M11,SF,37.807556,-122.417450,None,0.0,2025-11-10 22:13:06.271562,2025-11-11 03:13:15.025086
4,5,1051,F,11940707_M11,SF,37.762550,-122.433876,None,0.0,2025-11-10 22:13:06.271563,2025-11-11 03:13:15.025086

In [16]:
df['created_at'].unique()

<DatetimeArray>
['2025-11-11 03:13:15.025086', '2025-11-11 03:33:51.814878',
 '2025-11-11 03:38:03.094513']
Length: 3, dtype: datetime64[ns]