In [30]:
# Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
#Remove the hash (#) to install the package if not already installed
#!pip install ruptures 
import ruptures as rpt
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import LinearRegression
import numpy as np
from sqlalchemy import create_engine

In [31]:
# Connect to the PostgreSQL database
# Define connection parameters for easy sharing and modification
user = 'admin_karen'
password = 'Tiendala60'
host = 'karenserver.postgres.database.azure.com'
port = '5432'
database = 'transit_streaming'

connection_string = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

In [32]:
query = """
SELECT *
FROM public.routes
"""
df1 = pd.read_sql(query, engine)
df1.head()

,route_id,route_name,agency_id,route_type,total_vehicles,last_update
0,PH,None,SF,None,3,2025-11-11 05:03:55.376296
1,PM,None,SF,None,1,2025-11-11 05:03:55.376296
2,K,None,SF,None,6,2025-11-11 05:03:55.376296
3,M,None,SF,None,10,2025-11-11 05:03:55.376296
4,T,None,SF,None,12,2025-11-11 05:03:55.376296

In [37]:
query = """
SELECT *
FROM public.vehicle_positions
"""
df = pd.read_sql(query, engine)
df.sort_values('timestamp', ascending=False).head()

,id,vehicle_id,route_id,trip_id,agency_id,latitude,longitude,speed,heading,timestamp,created_at
1576,1577,169,Local Weekday,169,CT,37.330002,-121.902992,0.09,NaN,2025-11-11 00:05:40.546803,2025-11-11 05:05:43.472022
1575,1576,168,Local Weekday,168,CT,37.775902,-122.395592,0.00,NaN,2025-11-11 00:05:40.546800,2025-11-11 05:05:43.472022
1574,1575,166,Local Weekday,166,CT,37.776001,-122.395790,0.00,NaN,2025-11-11 00:05:40.546797,2025-11-11 05:05:43.472022
1573,1574,165,Local Weekday,165,CT,37.357399,-121.945503,34.13,NaN,2025-11-11 00:05:40.546794,2025-11-11 05:05:43.472022
1572,1573,164,Local Weekday,164,CT,37.701698,-122.401901,49.13,NaN,2025-11-11 00:05:40.546791,2025-11-11 05:05:43.472022

In [ ]:
#cual ha sido el vehiculo más activo, actividad de la flota
#cuales son las rutas más activas, y las rutas con mayor tráfico
#analisis por agencia
#tráfico por ruta
#análisis kde para identificación de hotspots